<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD DATA</title>
</head>
<body>
    <form class="task-form" action="/create" method="post">
        <label>Name</label>
        <input type="text" name="name">
        <label>nationality</label>
        <input type="text" name="nationality">
        <label>leader</label>
        <input type="number" name="leader">
        <label>previous</label>
        <input type="number" name="previous">
        <label>QAT</label>
        <input type="number" name="QATrace"><br><br>
        <label>INA</label>
        <input type="number" name="INArace">
        <label>ARG</label>
        <input type="number" name="ARGrace">
        <label>AME</label>
        <input type="number" name="AMErace">
        <label>POR</label>
        <input type="number" name="PORrace">
        <label>SPA</label>
        <input type="number" name="SPArace"><br><br>
        <label>FRA</label>
        <input type="number" name="FRArace">
        <label>ITA</label>
        <input type="number" name="ITArace">
        <label>CAT</label>
        <input type="number" name="CATrace">
        <label>GER</label>
        <input type="number" name="GERrace">
        <label>NED</label>
        <input type="number" name="NEDrace"><br><br>
        <label>GBR</label>
        <input type="number" name="GBRrace">
        <label>AUT</label>
        <input type="number" name="AUTrace">
        <label>RSM</label>
        <input type="number" name="RSMrace">
        <label>ARA</label>
        <input type="number" name="ARArace">
        <label>JPN</label>
        <input type="number" name="JPNrace"><br><br>
        <label>THA</label>
        <input type="number" name="THArace">
        <label>AUS</label>
        <input type="number" name="AUSrace">
        <label>MAL</label>
        <input type="number" name="MALrace">
        <label>VAL</label>
        <input type="number" name="VALrace"><br><br>
        <button class="submitBtn" type="submit">Submit</button>
    </form>
</body>
</html>